[submodule "themes/hugo-dynamic-tabs"]
	path = themes/hugo-dynamic-tabs
	url = https://github.com/rvanhorn/hugo-dynamic-tabs
[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = shttps://github.com/mmrath/hugo-bootstrap
