code[data-lang]:before {
    content: attr(data-lang);
    clear: right;
    display: block;
    width: fit-content;
    background: grey;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -24px;
    margin-bottom: 8px;
}

pre {
    padding-left: 24px;
    padding-bottom: 8px;
}

.tab-content {
    border: rgba(0,0,0,.2) 1px solid;
    margin-bottom: 8px;
}

.tab-pane {
    margin:8px;
    margin-left:12px;
}

p {
    font-family: gotham;
    font-size: 16px;
}

.container {
    max-width: 1024px;
}

h2 {
    margin-top:48px;
    font-weight: bold;
}

h2 a {
    font-size: smaller;
}

/*p {
    margin-left:8px;
}*/

p img {
    width: 85%;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.callout {
    background: #E0F7F0;
    padding: 8px;
    margin-bottom:8px;
}

.callout[data-title]:not([data-title='']):before {
    content: attr(data-title);
    clear: right;
    display: block;
    font-weight: bold;
    width: fit-content;
    background: #4DD3A7;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: 8px;
}

li {
    padding: 4px 0px 0px;
}

nav.mobile-menu-open {
  display: block;
}