code[data-lang]:before {
    content: attr(data-lang);
    clear: right;
    display: block;
    width: fit-content;
    background: grey;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -24px;
    margin-bottom: 8px;
}

pre {
    padding-left: 24px;
    padding-bottom: 8px;
}

.tab-content {
    border: rgba(0,0,0,.2) 1px solid;

}
.tab-pane {
    margin:8px;
    margin-left:12px;
}

h2 {
    margin-top:64px;
    font-weight: bold;
}

h2 a {
    font-size: smaller;
}